In [2]:

# Applied ststistics experiments
# Creating series from arrays
import pandas as pd
import numpy as np

# exercise 1

In [ ]:
arr=np.array(['A','P','P','L','E'])
ga=pd.Series(arr)
print(ga)

In [ ]:
# Creating a dataframe using list
# Creat a list
a=['sanoop','simran']
#Creat a dataframe
df=pd.DataFrame(a)
print(df)

In [ ]:
# using pandas map function
a=pd.Series(['sanoop','simran','suaib',])
a.map({'sanoop':True,'simran':True})

In [ ]:
# ONE ANOTHER EXAMPLE
a=pd.Series(['sanoop','simran','suaib',])
a.map({'sanoop':True})
a.map('i like {}'.format, na_action='ignore')

In [ ]:
# conversion of series object to the dataframe
# example 1
g=pd.Series(["SANOOP","SIMRAN","SUAIB"],name="Row")
g.to_frame()

In [ ]:
# example 2
gst=['sanoop','simran','suaib',]
id=[111,112,113]
gst_series=pd.Series(gst)
id_series=pd.Series(id)
frame={'Gst':gst_series,'ID':id_series}
result=pd.DataFrame(frame)
print(result)

## exercise 2#

In [ ]:
# create an empty dataframe in pandas
import pandas as pd
df=pd.DataFrame()
print(df)

In [ ]:
# create a dataframe in pandas on list
list=['dalit','devansh']
df=pd.DataFrame(list)
print(df)

In [ ]:
# create a dataframe from dict of ndarrays/lists
info={'ID':[101,102,103],'Department':['B.Sc','B.Tech','M.Tech']}
df=pd.DataFrame(info)
print(df)

In [ ]:
# craete a DataFrame from dict of series:
sr={'one':pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f']),'two':pd.Series([1,2,3,4,5,6,7,8],index=['a','b','c','d','e','f','g','h'])}
df=pd.DataFrame(sr)
print(df)

In [ ]:
# select a column from the dataframe
sr={'one':pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f']),'two':pd.Series([1,2,3,4,5,6,7,8],index=['a','b','c','d','e','f','g','h'])}
df=pd.DataFrame(sr)
print(df['one'])

In [ ]:
# add any new column to an existing DataFrame
sr={'one':pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f']),'two':pd.Series([1,2,3,4,5,6,7,8],index=['a','b','c','d','e','f','g','h'])}
df=pd.DataFrame(sr)
# add a new column
print("add new column by passing series")
df['three']=pd.Series([20,40,60],index=['a','b','c'])
print(df)
print("add new column using existing DataFrame columns")
df['four']=df['one']+df['three']
print(df)

In [ ]:
# deletation of the column from the existing DataFrame
sr={'one':pd.Series([1,2],index=['a','b']),'two':pd.Series([1,2,3],index=['a','b','c'])}
df=pd.DataFrame(sr)
print("DataFrame:")
print(df)
# using del function
print("delete the first column:")
del df['one']
print(df)
# using pop function
print("delete the another column")
df.pop('two')
print(df)

In [ ]:
# selection of rows by using different methods
# SELECTION BY LABEL
import pandas as pd
info={'one':pd.Series([1,2,3,4,5],index=['a','b','c','d','e']),'two':pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f'])}
df=pd.DataFrame(info)
print(df.loc['b'])

In [ ]:
# selection by integer location
info={'one':pd.Series([1,2,3,4,5],index=['a','b','c','d','e']),'two':pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f'])}
df=pd.DataFrame(info)
print(df.iloc[3])

In [ ]:
# Slice rows
info={'one':pd.Series([1,2,3,4,5],index=['a','b','c','d','e']),'two':pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f'])}
df=pd.DataFrame(info)
print(df[2:5])

In [ ]:
# Addition of rows
import numpy as np
import pandas as pd
g=pd.DataFrame([[7,8],[9,10]],columns=['x','y'])
g2=pd.DataFrame([[11,12],[13,14]],columns=['x','y'])
g=g.append(g2)
print(g)

In [ ]:
# Deletion of rows
a_info=pd.DataFrame([[4,5],[6,7]],columns=['x','y'])
b_info=pd.DataFrame([[8,9],[10,11]],columns=['x','y'])
a_info=a_info.append(b_info)
# drop rows with label 0
a_info=a_info.drop(0)

# exercise 3

In [ ]:
# Add a column to dataframe column
aa=pd.read_csv("/content/iris.csv")
aa.head()

In [ ]:
# Add any new column
aa=pd.read_csv("/content/iris.csv")
aa["Age"]="24"
aa.head()

In [ ]:
aa=pd.read_csv("/content/iris.csv")
aa.head()

In [ ]:
# Add a new column name "course" into an existing "aa" csv file using insert method
aa=pd.read_csv("/content/iris.csv")
aa.insert(2,column="course",value="B.Sc")
aa.head()

# Exercise 5

In [ ]:
# creating index
data=pd.read_csv("/content/iris.csv")
data

In [ ]:
# making data frame from csv file
info=pd.read_csv("/content/iris.csv",index_col="sepal.length")
# retrieving multiple columns by indexing operator
a=info[["sepal.width","petal.length"]]
print(a)

In [ ]:
# EXAMPLE 2
# making data frame from csv file
info=pd.read_csv("/content/iris.csv",index_col="sepal.length")
# retrieving multiple columns by indexing operator
a=info[["sepal.width"]]
print(a)

In [ ]:
#set index
info=pd.DataFrame({'Name':['sanoop','simran','suaib'],
'Year':[2011,1012,2013],
'Leaves':[1,2,3]})
info
info.set_index('Name')
info.set_index(['Year','Name'])
info.set_index([pd.Index([1,2,3]),'Year'])
a=pd.Series([1,2,3])
info.set_index([a,a**2])

In [ ]:
#EXAMPLE 1
pd.MultiIndex(levels=[[np.nan,None,pd.NaT,128,2]],
codes=[[0,-1,1,2,3,4]])

In [ ]:
# RESET INDEX
info=pd.DataFrame([('sanoop','C'),
('simran','Java'),
('suaib','Python')],
index=[1,2,3],
columns=('Name','Language'))
info
info.reset_index()